<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar menu-bg navbar-expand-lg fixed-top" id="mainNav">
        <%- include('./partials/topmenu'); %>
    </nav>


    <!-- Page Content -->
    <section class="page-section page-section-top-padded mb-0" id="about">
        <div class="container">
            

            <!-- About Section Content-->
            <!--
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">About the site</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">About me</p></div>
                </div>
                -->
            <!-- About Section Button-->
            <br />
            <div class="text-left mt-4 main-content">
                <div id="story1" class="row justify-content-left">
                    <div class="col-lg-7 order-lg-1">
                        <h2>About Prof. Brian Gormanly</h2>
                        <p class="text-primary"><strong>Hello 👋 and thanks for stopping by!</strong></p>
                        <p>I am a Researcher, Engineer, and Professor. I design Large Language Model AI integrations, IoT hardware and software, and build web applications in Node.js, Play Framework, Enterprise Java and more. I have spent over 15 years as a Full Stack web developer and software architect. I am now a Senior Professional Lecturer at Marist College in Poughkeepsie, New York and a consultant in AI integration and Software Engineering, I am also an insatiable hobbyist and tinkerer.</p>

                        <p>My current research interests include <strong>Mechanistic Interpretability</strong> (Reverse engineering neural networks to understand how they work) and developing software solutions integrating Transformer based Large Language Models. You can learn more about these topics <a href="/research">on the research page.</a></p>

                        <p>I also enjoy road trips, exploring new places with my family, and working on and driving classic automobiles. If you are interested in collaborating on a project, are in need of consulting assistance, or would just like to say hello, <a href="https://www.linkedin.com/in/gormanly/">connect with me on LinkedIn</a> and let’s chat!.</p>

                        <!-- About Section Heading-->
                        <div class="divider-custom">
                            <div class="divider-custom-line divider-bg-color"></div>
                            <div class="divider-custom-icon"><i class="fas fa-user-secret divider-color"></i></div>
                            <div class="divider-custom-line divider-bg-color"></div>
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-2">
                        <!-- <div class="card" class="product-card">
                            <a class="product-card" href="/dashboard">
                                <img class="product-img-overlay" src="/assets/img/about/brian-profile.jpg"
                                    alt="Sign up today">
                                <div class="card-body product-card-text-raised">
                                    <h5 class="card-title text-secondary">Join our community</h5>
                                    <p class="card-text"><strong><br />Creating an account is quick and we always keep your
                                            information private.</strong></p><br />

                                </div>
                            </a>
                        </div> -->
                        <img src="/assets/img/about/brian-profile.jpg" class="website-image website-image-95" alt="Brian Gormanly" />

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer-->
    <%- include('./partials/footer'); %>
    <!-- Copyright Section-->
    <%- include('./partials/copyright'); %>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>


    <%- include('./partials/jsincludes'); %>
</body>

</html>